.style-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  margin-left: 25px;
  margin-bottom: 0px;
  opacity: 70%;
}

.style {
  background-color: white;
  height: 450px;
}

.container-two {
  padding-top: 50px;
  padding-bottom: 50px;

}

.container-two video {
  margin: 0 auto;
  display: block
}

.user-style-header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
    margin-left: 25px;
}

.user-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
}

.session-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}

.session-bold {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  text-align: center;
}

.col-5 {
  border-left: 1px solid #848484;
  border-right: 1px solid #848484;
  height: 280px;
  padding-left: 50px;
}

.col-3 {
  padding-left: 50px;
}

.container-videos {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.col-sm-border {
  border-left: 1px solid #848484;

}

.all-time-table {
  margin: auto;
}

.like-these-table {
  margin: auto;
}
