<div class="difficulty-bar">
  <h3>DIFFICULTY❓</h3>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" value="option1">
      <label class="form-check-label" for="exampleRadios1">
        📊 1
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          📊 2
        </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" value="option3">
        <label class="form-check-label" for="exampleRadios3">
          📊 3
        </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" value="option3">
        <label class="form-check-label" for="exampleRadios4">
          📊 4
        </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" value="option3">
        <label class="form-check-label" for="exampleRadios5">
          📊 5
        </label>
    </div>
</div>
