<div class="container justify-content-around">
  <div class="row">
    <div class='col-2'>
      <%= render 'difficulty' %>
    </div>
    <div class="col-10 ">
      <div class="video-grid shadow p-3 mb-5 bg-white rounded mt-5 ml-5">
        <% if @videos.first %>
        <%= render @videos %>
        <% else %>
        <h3>Cannot found any videos with <strong><%= @query %></strong>.</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>



