<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="difficulty-bar">
      <h3>DIFFICULTY❓</h3>
      </div>
    </div>
    <div class="col-sm-6">
      <div class='image-container'>
          <div class="card-column-1">
              <div class="card-display">
                <h5>
                  <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                </h5>
                <h4>Hot Yoga</h4>
                <h6>by who | 35mins</h6>
              </div>
              <div class="card-display">
                <h5>
                  <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                </h5>
                <h4>Hot Yoga</h4>
                <h6>by who | 35mins</h6>
              </div>
              <div class="card-display">
                <h5>
                  <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                </h5>
                <h4>Hot Yoga</h4>
                <h6>by who | 35mins</h6>
              </div>
          </div>
          <div class="card-column-2">
              <div class="card-display">
                <h5>
                  <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                </h5>
                <h4>Hot Yoga</h4>
                <h6>by who | 35mins</h6>
              </div>
              <div class="card-display">
                <h5>
                  <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                </h5>
                <h4>Hot Yoga</h4>
                <h6>by who | 35mins</h6>
              </div>
              <div class="card-display">
                <h5>
                  <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                </h5>
                <h4>Hot Yoga</h4>
                <h6>by who | 35mins</h6>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
