<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="difficulty-bar">
        <h3>DIFFICULTY❓</h3>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              📊 Beginner
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              📊 Moderate
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">
              📊 Intermediate
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">
              📊 Advanced
            </label>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class='image-container'>

                <div class="card-display">
                  <h5>
                    <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                  </h5>
                  <h4>Hot Yoga</h4>
                  <h6>by who | 35mins</h6>
                </div>
                <div class="card-display">
                  <h5>
                    <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                  </h5>
                  <h4>Hot Yoga</h4>
                  <h6>by who | 35mins</h6>
                </div>
                <div class="card-display">
                  <h5>
                    <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                  </h5>
                  <h4>Hot Yoga</h4>
                  <h6>by who | 35mins</h6>
                </div>
                <div class="card-display">
                  <h5>
                    <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                  </h5>
                  <h4>Hot Yoga</h4>
                  <h6>by who | 35mins</h6>
                </div>
                <div class="card-display">
                  <h5>
                    <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                  </h5>
                  <h4>Hot Yoga</h4>
                  <h6>by who | 35mins</h6>
                </div>
                <div class="card-display">
                  <h5>
                    <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="yoga">
                  </h5>
                  <h4>Hot Yoga</h4>
                  <h6>by who | 35mins</h6>
                </div>
        </div>
      <%# </div> %>
    </div>
  </div>
</div>
