<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 style='text-align: center'>UPLOAD VIDEO</h2>

      <%= render 'form', video: @video %>

    </div>
  </div>
</div>
