 <footer class="footer text-center">
    <div class="icons w-100 d-flex justify-content-center text-center py-3">
      <%= link_to "#" do %>
        <i class="fab fa-facebook"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fab fa-twitter-square"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fas fa-envelope-square"></i>
      <% end %>
    </div>
    <div class="footer-word">© 2021 Ola Moves. All Rights Reserved.</div>
</footer>
