 <footer class="footer text-center" style="height: 250px;">
    <div class="icons w-100 d-flex justify-content-center py-5">
      <%= link_to "#" do %>
        <i class="fab fa-facebook mr-5"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fab fa-twitter-square mr-5"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fab fa-instagram mr-5"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fas fa-envelope-square mr-5"></i>
      <% end %>
    </div>
    <p class="footer-word">© 2021 Ola Moves. All Rights Reserved.</p>
  </footer>
