<div class="container">
  <div class="profile-banner">
    <%= cl_image_tag("https://res.cloudinary.com/cheyennelu/image/upload/v1614143078/yoga-banner.jpg", width: 1200, height: 350, crop: :fill) %>
  </div>
  <h1>Welcome, <%= @user.name %>!</h1>


</div>
